[Unit]
Description=Run audit.log -> ntfy every 15 seconds

[Timer]
OnBootSec=20s
OnUnitActiveSec=15s
Persistent=true

[Install]
WantedBy=timers.target
